*
{
  box-sizing: border-box;
}
#root
{
  width: 100vw;
  max-width: 100vw;
  height: auto;
  max-height: auto;
}
.card
{
  background-color: rgb(230,230,230);
  text-align: left;
  color: black;
  width: 90%;
  padding: 20px;
  margin: 20px;

}
