*
{
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}
#root
{
  width: 100vw;
  max-width: 100vw;
  height: auto;
  max-height: auto;
}
.card
{
  background-color: rgb(230,230,230);
  text-align: left;
  color: black;
  width: 90%;
  padding: 2%;
  margin: 20px;
  border-radius: 10px;
}

.card #companyLogo
{
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.card #companyName
{
  margin: 5px 0px;
}

.card #deadline
{
  color: rgb(100,100,100);
}